/* #1c1c1c #00e0c6 #f4f4f4 #475569 #0077b6 #ffb347 #e8e8e8  #216575 */
/* Nav e Footer */
nav,
footer,
.filter {
    background-color: #216575;
    color: white;
}

.nav-link:hover {
    color: #ffa500;
}

.ms-a {
    text-decoration: none;
    color: inherit;
    font-size: 1.4rem;
    transition: 0.3s ease-in-out;
}

.ms-a:hover {
    color: #ffa500;
    transition: 0.3s ease-in-out;
}

.nav-item a {
    text-decoration: none;
    color: inherit;
    font-size: 1.4rem;
    margin: 0 15px;
    transition: 0.3s ease-in-out;
}

.nav-item a:hover {
    color: #ffa500;
    transition: 0.3s ease-in-out;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.nav-item .nav-link.active {
    color: #f37c31;
}

.navbar-toggler {
    background-color: #f37c31;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.25rem #f37c31;
}

.btn-warning {
    background-color: #f37c31;
    border-color: #f37c31;
}

.btn-outline-warning {
    border-color: #f37c31;
}

.btn-outline-warning:hover {
    background-color: #f37c31;
    border-color: #f37c31;
}

footer {
    padding: 10px 0;
}

#footer-div {
    width: 90%;
    margin: 20px auto;
    border-top: 2px solid #f37c31;
}

#footer-div div {
    width: calc(100% / 3);
}

@media (max-width: 576px) {
    #footer-div div {
        width: 100%;
    }
}

#footer-div li {
    list-style: none;
}

body {
    background-color: #e8e8e8;
}

/* Hero Section */
.hero,
.carousel-item {
    height: calc(100vh - 76px);
}

.carousel-item {
    background-color: black; /* o transparent */
}

.carousel-item img {
    height: 100vh; /* o un'altezza coerente */
    object-fit: cover;
    display: block;
    width: 100%;
}

.hero-overlay h1 {
    color: #f37c31;
}

.ms-btn {
    width: 30%;
    margin: 0 15px;
}

@media (max-width: 768px) {
    .ms-btn {
        width: 80%;
        margin: 0;
    }
}

@media (max-width: 425px) {
    .d-custom-none {
        display: none !important;
    }
}

@media (min-width: 426px) {
    .d-custom-none {
        display: block !important;
    }
}

/* Search Section & Recent Section */
#search-section,
#recent-section {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
}

.form-control {
    border: var(--bs-border-width) solid #f37c31;
}

.form-control:focus {
    border-color: #f37c31;
    box-shadow: 0 0 0 .25rem #f37c31;
}

/* SearchPage */
.content {
    width: 80%;
}

@media (max-width: 576px) {
    .content {
        width: 90%;
        margin: auto;
    }
}

/* SingleMovie */
.body-review {
    border: 2px solid #ffa500;
    border-radius: 15px;
    padding: 5px;
    min-height: 150px;
}

@media (max-width: 768px) {
    .w-80 {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .w-80 {
        width: 80%;
        margin: auto;
    }
}

@media (min-width: 992px) {
    .w-80 {
        width: 30%;
        margin: 0;
    }
}

/* Loader */
.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 80%;
    margin: 150px auto;
}

.loader {
    width: 64px;
    height: 64px;
    border: 4px solid #ccc;
    border-top: 4px solid #ffa500;
    border-radius: 50%;
}